<h1>Craigslist</h1>
<table>
  <thead>
  </thead>
  <tbody>
      <h3>Post <%= @post.id %> for <%= @post.category.name %></h3>
 
      <p>Post Title: <%= @post.title %></p>
      
      <p>Post Email: <%= @post.email %></p>
      <p>Post Description:<%= @post.description %></p>
      <br>
  </tbody>
</table>
